body{
    background-color:grey;
}
h1{
    text-align:center;
    color:green;
    background-color:aliceblue;
}
h2{
    background-color:rgb(0, 255, 68);
    color:black;
}
.contain{
    display:block;
    background-color:white;
    width:25%;
    height:50%;
    text-align:center;
    position:relative;
    border-radius:10px;
}

.contain2{
    display:block;
    background-color:white;
    width:25%;
    height:50%;
    text-align:center;
    position:relative;
    
    float:top;
    border-radius:10px;
}

.contain3{
    background-color:white;
    width:25%;
    height:50%;
    text-align:center;
    position:relative;
    display:block;
    
    border-radius:10px;
}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.contain:hover .overlay{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    opacity:1;
  }

  .contain2:hover .overlay{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    opacity:1;
  }
  .contain3:hover .overlay{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    opacity:1;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 125%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius:10px;
}